@import "lib/adminlte";

.container {
	margin: 2rem;
	padding: 2rem;
	border: 3px solid black;
	border-radius: 6px;
	background-color: #ecf0f5;
}

.pagination {
	padding: 2rem 1rem;
	list-style: none;
	li {
		cursor: pointer;
		border-radius: 6px;
		min-width: 28px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		float: left;
		border: 1px solid #d9d9d9;
		background-color: #fff;
		&.disabled {
			cursor: not-allowed;
		}
		&.break-me {
			cursor: default;
		}
		&.active{
			background-color: #2db7f5;
			border-color: #2db7f5;
			a{
				background-color: #2db7f5;
				color: white;
			}
		}
	}
}

